@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #3b82f6;
  --color-success: #22c55e;
}

body {
  @apply bg-background text-white antialiased;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}